# Database
RELATION_DATABASE_HOST=localhost
RELATION_DATABASE_USERNAME=root
RELATION_DATABASE_PASSWORD=qwer1234!@
RELATION_DATABASE_PORT=3306
RELATION_DATABASE_DATABASE=timo

# JWT
JWT_SECRET=your-jwt-secret-key-must-be-at-least-32-characters-long

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Elasticsearch
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200

# Logstash
LOGSTASH_HOST=localhost
LOGSTASH_PORT=5001
LOGSTASH_TCP_PORT=5000

# Notification
NOTIFICATION_ENABLED=true
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/xxx/xxx
SWAGGER_DIFF_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/xxx/xxx
TIMO_GITHUB_TOKEN=your-github-personal-access-token
TIMO_GITHUB_OWNER=timo-side-project
TIMO_GITHUB_FRONTEND_REPO=timo-frontend

# Gemini API
GEMINI_API_KEY=your-api-key
GEMINI_MODEL=gemini-2.5-flash-lite

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Naver OAuth
NAVER_CLIENT_ID=your-naver-client-id
NAVER_CLIENT_SECRET=your-naver-client-secret

# Kakao OAuth
KAKAO_CLIENT_ID=your-kakao-client-id
KAKAO_CLIENT_SECRET=your-kakao-client-secret

# OAuth
OAUTH_REDIRECT_URI=/
OAUTH_CALLBACK_BASE_URL=api.dev.timo.io.kr # 로컬 테스트의 경우 localhost:8080
OAUTH_SUCCESS_REDIRECT_URL=dev.timo.io.kr

# Application
APP_PORT=8080
SPRING_PROFILES_ACTIVE=prod

# Docker
DOCKER_IMAGE=your-dockerhub-id/timo-api:latest
